html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}


  .flexcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 632px;
    width: 320px;
  }

  .toolbar {
    display: flex;
    justify-content: space-between;
  }

  .menu {
    margin-top: 19px;
    margin-right: 16px;
  }

  .topic {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 100%;
    color: #1a2236;
    margin-top: 30px;
    margin-left: 16px;
    margin-bottom: 0;
  }

  .text1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #1a2236;
    margin-left: 16px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .button1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    background-color: #1a2236;
    width: 288px;
    height: 50px;
    margin-left: 16px;
    border-width: 1px;
  }

  .button1:hover {
    background-color: #fff;
    color: #1a2236;
  }

  .button1:active {
    background-color: #fff;
    color: #1a2236;
    border-width: 2px;
  }

  .gridcontainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 6fr 6fr 6fr 6fr 6fr 6fr;
    height: 2134px;
    width: 320px;
  }

  .item {
    display: flex;
    flex-direction: column;
    background-color: #1a2236;
    border: 0.333333px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1px);
  }

  .item1 {
    grid-row: 1;
    margin-bottom: 30px;
  }

  .item2 {
    grid-row: 2;
  }

  .item3 {
    grid-row: 3;
  }

  .item4 {
    grid-row: 4;
  }

  .item5 {
    grid-row: 5;
  }

  .item6 {
    grid-row: 6;
  }

  .item7 {
    grid-row: 7;
  }

  .project-name {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 16px;
    color: #fff;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .project-tools {
    display: flex;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 10.334px;
    line-height: 8px;
    color: #1a2236;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 16px;
    padding-right: 25px;
    margin-bottom: 20px;
  }

  .tool-label {
    display: flex;
    justify-content: center;
    width: 83px;
    height: 13px;
    background-color: #98dede;
    padding-top: 5px;
  }

  .view-project {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    background-color: #1a2236;
    width: 178px;
    height: 44px;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 1px solid #fff;
  }

  .view-project:hover {
    background-color: #fff;
    color: #1a2236;
  }

  .view-project:active {
    background-color: #fff;
    color: #1a2236;
    border-width: 2px;
  }

  .text {
    letter-spacing: 0;
    margin-top: 20px;
    margin-bottom: 12px;
  }

  .gridcontainer-about {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 289px 289px 289px 289px;
    height: 1217px;
    row-gap: 16px;
    width: 320px;
    margin-top: 116px;
  }

  .about {
    grid-row: 1;
  }

  .languages {
    grid-row: 2;
    background-color: #1c528a;
    margin-left: 16px;
    margin-right: 16px;
  }

  .frameworks {
    grid-row: 3;
    background-color: #e2505c;
    margin-left: 16px;
    margin-right: 16px;
  }

  .skills {
    grid-row: 4;
    background-color: #febf52;
    margin-left: 16px;
    margin-right: 16px;
  }

  .about-entry {
    display: flex;
    flex-direction: column;
  }

  .entry-name {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 21px;
  }

  .entry-options {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.0525em;
    color: #fff;
    margin-left: 16px;
  }

  .back {
    width: 102px;
    height: 102px;
    margin-top: -54px;
    margin-left: 186px;
  }

  .back-frame {
    margin-top: -81px;
  }

  .dl {
    margin-top: 0;
    margin-left: 14px;
    padding-top: 7px;
  }

  .button2 {
    padding-bottom: 10px;
  }

  .contact-form{
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 813px;
    background-color: #F9F9FA;
  }
  
  .begin{
    left: 18px;
    right: 53px;
    margin-top: 31.98px;
    margin-bottom: 20px;
  }

  .begin-text{
    left: 18px;
    right: 14px;
    margin-bottom: 32px;
  }

  .inp-list{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 320px;
    padding-inline-start: 18px;
    margin-bottom: 20px;
  }

  .inp-field{
    width: 288px;
    height: 52px;
    background-color: #FFFFFF;
    border: 1px solid #1a2236;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .inp-list label{    
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #7D7C84;
    position: relative;
    left: 16px;
    top: 19px;
  }

  .inp-field::placeholder{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #1a2236;
    
  }
  
  .text-msg::placeholder{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #7D7C84;    
  }

  .text-msg{
    resize: none;
    height: 112px;
    border: 1px solid #dfdfe0;
    width: 288px;
    background-color: #FFFFFF;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .foot{
    width: 320px;
    height: 150px;
    display: flex;
    flex-direction: column;
    background-color: #1a2236;
    margin-top: 64px;
  }

  .image-link{
    text-decoration: none;
  }

  .contact-form button{
    margin-bottom: 20px;
  }
  
  .res-link{
    display: flex;
    margin-left: 16px;
    margin-top: 32px;
    margin-bottom: 30px;
  }

  .res-link a{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;    
    color: #92DCDC;    
    text-decoration-line: none;
  }

  .image-link{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
  }

  .pointer-img{
    padding-left: 16px;
    margin-top: -4px;
  }